@model dynamic

<div class="col-lg-4 col-md-5">
    <div class="blog__sidebar">
        <div class="blog__sidebar__search">
            <form action="#">
                <input type="text" placeholder="Search...">
                <button type="submit"><span class="icon_search"></span></button>
            </form>
        </div>

        <div class="blog__sidebar__item">
            <h4>Gần đây</h4>
            @{
                for (int i = Model.Blogs.Count - 1; i > Model.Blogs.Count - 4; i--)
                {
                    var item = Model.Blogs[i];
                    <div class="blog__sidebar__recent">
                        <a asp-controller="Blog" asp-action="BlogDetail" , asp-route-id="@item.Id" class="blog__sidebar__recent__item">
                            <div class="blog__sidebar__recent__item__pic">
                                <img src="~/images/blog/@item.Thumb" alt="">
                            </div>
                            <div class="blog__sidebar__recent__item__text">
                                <h6>@item.Title</h6>
                                <span>@item.CreateAt.ToLongDateString()</span>
                            </div>
                        </a>
                    </div>
                }
            }

        </div>
        <div class="blog__sidebar__item">
            <h4>Tag</h4>
            <div class="blog__sidebar__item__tags">
                @{
                    foreach (var item in Model.BlogTags)
                    {
                        <a href="#">@SupFunc.FirstCharToUpper(item.Name)</a>
                    }
                }
            </div>
        </div>
    </div>
</div>
