<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="keywords"
		  content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
	<meta name="description"
		  content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />
	<meta name="robots" content="noindex,nofollow" />
	<title>Admin</title>
	<!-- Favicon icon -->
	<link rel="icon"
		  type="image/png"
		  sizes="16x16"
		  href="~/admin/assets/images/favicon.png" />
	<!-- Custom CSS -->
	<link href="~/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
	<!-- Custom CSS -->
	@RenderSection("Head",false)

	<link href="~/admin/dist/css/style.min.css" rel="stylesheet" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper"
		 data-layout="vertical"
		 data-navbarbg="skin5"
		 data-sidebartype="full"
		 data-sidebar-position="absolute"
		 data-header-position="absolute"
		 data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<header class="topbar" data-navbarbg="skin5">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header" data-logobg="skin5">
					<!-- ============================================================== -->
					<!-- Logo -->
					<!-- ============================================================== -->
					<a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">
						<!-- Logo icon -->
						<b class="logo-icon ps-2">
							<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
							<!-- Dark Logo icon -->
							<img src="~/admin/assets/images/logo-icon.png"
								 alt="homepage"
								 class="light-logo"
								 width="25" />
						</b>
						<!--End Logo icon -->
						<!-- Logo text -->
						<span class="logo-text ms-2">
							<!-- dark Logo text -->
							<img src="~/admin/assets/images/logo-text.png"
								 alt="homepage"
								 class="light-logo" />
						</span>
						<!-- Logo icon -->
						<!-- <b class="logo-icon"> -->
						<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
						<!-- Dark Logo icon -->
						<!-- <img src="~/admin/assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->
						<!-- </b> -->
						<!--End Logo icon -->
					</a>
					<!-- ============================================================== -->
					<!-- End Logo -->
					<!-- ============================================================== -->
					<!-- ============================================================== -->
					<!-- Toggle which is visible on mobile only -->
					<!-- ============================================================== -->
					<a class="nav-toggler waves-effect waves-light d-block d-md-none"
					   href="javascript:void(0)">
						<i class="ti-menu ti-close"></i>
					</a>
				</div>
				<!-- ============================================================== -->
				<!-- End Logo -->
				<!-- ============================================================== -->
				<div class="navbar-collapse collapse"
					 id="navbarSupportedContent"
					 data-navbarbg="skin5">
					<!-- ============================================================== -->
					<!-- toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav float-start me-auto">
						<li class="nav-item d-none d-lg-block">
							<a class="nav-link sidebartoggler waves-effect waves-light"
							   href="javascript:void(0)"
							   data-sidebartype="mini-sidebar">
								<i class="mdi mdi-menu font-24"></i>
							</a>
						</li>
						
					</ul>
					<!-- ============================================================== -->
					<!-- Right side toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav float-end">
						<!-- ============================================================== -->
						<!-- User profile and search -->
						<!-- ============================================================== -->
						<li class="nav-item dropdown">
							<a class="
                    nav-link
                    dropdown-toggle
                    text-muted
                    waves-effect waves-dark
                    pro-pic
                  "
							   href="#"
							   id="navbarDropdown"
							   role="button"
							   data-bs-toggle="dropdown"
							   aria-expanded="false">
								<img src="~/admin/assets/images/users/1.jpg"
									 alt="user"
									 class="rounded-circle"
									 width="31" />
							</a>
							<ul class="dropdown-menu dropdown-menu-end user-dd animated"
								aria-labelledby="navbarDropdown">
								<form asp-controller="Users" asp-action="Logout" method="post">
									<button type="submit" class="btn btn-link">Logout</button>
								</form>
							</ul>
						</li>
						<!-- ============================================================== -->
						<!-- User profile and search -->
						<!-- ============================================================== -->
					</ul>
				</div>
			</nav>
		</header>
		<!-- ============================================================== -->
		<!-- End Topbar header -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<aside class="left-sidebar" data-sidebarbg="skin5">
			<!-- Sidebar scroll-->
			<div class="scroll-sidebar">
				<!-- Sidebar navigation-->
				<nav class="sidebar-nav">
					<ul id="sidebarnav" class="pt-4">
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="Home" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
							</a>
						</li>	
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="Menus" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Quản lý Menu</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="Blogs" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Quản lý Bài viết</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="Products" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Quản lý Sản phẩm</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="ProductCategories" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Quản lý Loại sản phẩm</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="Orders" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Quản lý Đơn hàng</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link waves-effect waves-dark sidebar-link"
							   asp-area="Admin" asp-controller="Customers" asp-action="Index"
							   aria-expanded="false">
								<i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Quản lý Khách hàng</span>
							</a>
						</li>
					</ul>
				</nav>
				<!-- End Sidebar navigation -->
			</div>
			<!-- End Sidebar scroll-->
		</aside>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		@RenderBody()
	</div>

		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
		<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
		<!--Wave Effects -->
		<script src="~/admin/dist/js/waves.js"></script>
		<!--Menu sidebar -->
		<script src="~/admin/dist/js/sidebarmenu.js"></script>
		<!--Custom JavaScript -->
		<script src="~/admin/plugin/ckfinder/ckfinder.js"></script>
		<script src="~/admin/plugin/ckeditor/ckeditor.js"></script>

		<script src="~/admin/dist/js/custom.min.js"></script>
		<!--This page JavaScript -->
		<!-- <script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script> -->
		<!-- Charts js Files -->
		<script src="~/admin/assets/libs/flot/excanvas.js"></script>
		<script src="~/admin/assets/libs/flot/jquery.flot.js"></script>
		<script src="~/admin/assets/libs/flot/jquery.flot.pie.js"></script>
		<script src="~/admin/assets/libs/flot/jquery.flot.time.js"></script>
		<script src="~/admin/assets/libs/flot/jquery.flot.stack.js"></script>
		<script src="~/admin/assets/libs/flot/jquery.flot.crosshair.js"></script>
		<script src="~/admin/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
		<script src="~/admin/dist/js/pages/chart/chart-page-init.js"></script>
		@RenderSection("Scripts",false);
</body>
</html>
