@model dynamic
<div class="sidebar__item">
    <h4>Phân loại</h4>
    <ul>
        
        @{
            foreach(var item in Model.ChildCategory) {
                <li><a asp-controller="Product" asp-action="Index" asp-route-metaCat="@item.Meta">@item.Name</a></li>
            }
        }
    </ul>
</div>