@model OnlinePharmacy.Models.ProductCategory

@{
	ViewData["Title"] = "Thêm mới";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Head{
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
	<link rel="stylesheet"
	  type="text/css"
	  href="~/admin/assets/libs/quill/dist/quill.snow.css" />

}
	<div class="page-wrapper">
		<div class="page-breadcrumb">
			<div class="row">
				<div class="col-12 d-flex no-block align-items-center">
					<h4 class="page-title">@ViewData["Title"]</h4>

				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<form asp-action="Create" method="post" enctype="multipart/form-data">
							<h5 class="card-title">Loại</h5>
							<div class="form-group row">
								<label class="col-md-3" for="name">Tên</label>
								<div class="col-md-9">
									<input type="text"
									   asp-for="Name"
									   id="name"
									   class="form-control" />
								</div>
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							<div class="form-group row">
								<label class="col-md-3" for="parentId">Lớp cha</label>
								<div class="col-md-9">
									<select class="form-control" name="parentId" id="parentId">
										<option value="0" selected>Lớp cha</option>
									@foreach (var pc in ViewBag.parentCategory)
									{
										<option value="@pc.Id">@pc.Name</option>
									}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="meta">Meta</label>
							<div class="col-md-9">
								<input type="text"
									   asp-for="Meta"
									   id="meta"
									   class="form-control" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3" for="desc">Ghi chú</label>
							<div class="col-md-9">
								<input type="text"
									   asp-for="Desc"
									   id="desc"
									   class="form-control" />
							</div>
							<span asp-validation-for="Desc" class="text-danger"></span>
						</div>


						<input type="text"
							   asp-for="CreateAt"
							   id="createAt"
							   class="form-control"
							   value="@DateTime.Now" hidden />
						<div class="form-group row">
							<input type="submit" value="Thêm mới" class="btn btn-primary" />
						</div>
					</form>
				</div>

			</div>

		</div>

	</div>



</div>

@section Scripts {
	<script src="~/admin/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
	<script src="~/admin/dist/js/pages/mask/mask.init.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

	<script src="~/admin/assets/libs/select2/dist/js/select2.full.min.js"></script>
	<script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="~/admin/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
	<script src="~/admin/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
	<script src="~/admin/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
	<script src="~/admin/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
	<script src="~/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="~/admin/assets/libs/quill/dist/quill.min.js"></script>
	<script>



		function removeVietnameseAccent(str) {
			if (!str) return str;
			str = str.toLowerCase();
			str = str.replace(/[áàảãạăắằẳẵặâấầẩẫậ]/g, 'a');
			str = str.replace(/[éèẻẽẹêếềểễệ]/g, 'e');
			str = str.replace(/[iíìỉĩị]/g, 'i');
			str = str.replace(/[óòỏõọôốồổỗộơớờởỡợ]/g, 'o');
			str = str.replace(/[úùủũụưứừửữự]/g, 'u');
			str = str.replace(/[ýỳỷỹỵ]/g, 'y');
			str = str.replace(/đ/g, 'd');
			return str;
		}
		$(function () {
			$("#name").keyup(function () {
				var text = $.trim($(this).val())
				text = removeVietnameseAccent(text);
				var textCreate = text.replace(/\s+/g, '-').toLowerCase();
				console.log(text)
				$("#meta").val(textCreate)
			}).keyup()
		})

		CKEDITOR.replace("content")

		//***********************************//
		// For select 2
		//***********************************//
		$(".select2").select2();

		/*colorpicker*/
		$(".demo").each(function () {
			//
			// Dear reader, it's actually very easy to initialize MiniColors. For example:
			//
			//  $(selector).minicolors();
			//
			// The way I've done it below is just for the demo, so don't get confused
			// by it. Also, data- attributes aren't supported at this time...they're
			// only used for this demo.
			//
			$(this).minicolors({
				control: $(this).attr("data-control") || "hue",
				position: $(this).attr("data-position") || "bottom left",

				change: function (value, opacity) {
					if (!value) return;
					if (opacity) value += ", " + opacity;
					if (typeof console === "object") {
						console.log(value);
					}
				},
				theme: "bootstrap",
			});
		});
		/*datwpicker*/
		jQuery(".mydatepicker").datepicker();
		jQuery("#datepicker-autoclose").datepicker({
			autoclose: true,
			todayHighlight: true,
		});
		var quill = new Quill("#editor", {
			theme: "snow",
		});

	</script>
	}



